<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="Escc.WebAuthorMonitoring.TestEmailListenerAddress" value="developer@example.org"/>
        <add key="Escc.WebAuthorMonitoring.ViewReportUrl" value="http://localhost/managewebsite/webauthormonitoring/view.aspx?report={0}"/>
    </appSettings>
    <connectionStrings>
        <add name="CMSDB" connectionString="connection string for MicrosoftCmsProvider" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0"/>
        <pages masterPageFile="~/example.master" enableViewState="false" validateRequest="false">
            <controls>
                <!-- Add controls which are declared at root of site, repeated here in dev only for Visual Studio intellisense-->
                <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
                <add tagPrefix="Egms" namespace="EsccWebTeam.Egms" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
                <add tagPrefix="Validators" namespace="EsccWebTeam.FormControls.Validators" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
            </controls>
            <tagMapping>
                <add tagType="System.Web.UI.WebControls.Button" mappedTagType="eastsussexgovuk.webservices.FormControls.EsccButton, EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral"/>
                <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="eastsussexgovuk.webservices.FormControls.Validators.EsccCustomValidator, EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
                <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="eastsussexgovuk.webservices.FormControls.Validators.EsccRequiredFieldValidator, EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
                <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="eastsussexgovuk.webservices.FormControls.Validators.EsccRangeValidator, EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
                <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="eastsussexgovuk.webservices.FormControls.Validators.EsccValidationSummary, EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
            </tagMapping>
        </pages>
    </system.web>

</configuration>
